{{define "article"}}
<!DOCTYPE html>
<html lang="en">
{{template "headHTML" .Title.Short }}
<body>
    {{template "headerHTML" .username}}
    {{if .edit}}
    <div class="editarticle">
    <form method="POST" action="?edit=false">     
        <label>Title</label><input name="title" type="text" required value="{{ .content.Title.Short}}" />
        <label>Description</label><textarea name="description" type="text" value="">{{ .content.Description.Long }}</textarea>
        <input class="savearticle" type="submit" value="SAVE ARTICLE" />
    </form>
    </div>
    {{else}}
    <h1>{{.content.Title.Short}} {{if .username}}<a href="?edit=true"><button class="btn edit" role="button"></button></a>{{end}}</h1>
    <h2 class="articledate">{{.date}}</h2>
    <div class="articlecontent">
        {{.content.Description.Long}}
    </div>
    {{end}}
    {{template "footerHTML"}}
</body>
</html>
{{end}}