{{define "headerHTML"}}
<header>
    <nav>
        <ul>
            <li><a href="/static/index.html" class="header">HOME</a></li>
            <li><a href="/hello/username" class="header">HELLO</a></li>
            <li><a href="/news" class="header">ARTICLES</a></li>
            <li><a href="/api/v1/newslist" class="header">API</a></li>
        </ul>
        <div class="search">
            <form action="/search">
                <input type="text" class="search" placeholder="Search.." name="query">
                <button type="submit" class="search" >GO</button>
            </form>
        </div>
    </nav>
</header>
<hr>
{{end}}