{{define "headerHTML"}}
<header>
    <nav>
        <ul>
            <li><a href="/api/v1/newslist?take=3&skip=0" class="header">API</a></li>
            <li><a href="/static/index.html" class="header">HOME</a></li>
            <li><a href="/hello/username" class="header">HELLO</a></li>
            <li><a href="/news" class="header">ARTICLES</a></li>
        </ul>
        <ul>
            {{if . }}
            <li><a href="/login" class="login">Hello, {{.}}</a></li>
            {{ else }}
            <li><a href="/login" class="login">Login</a></li>
            {{ end }}
        </ul>
        <div class="search">
            <form action="/search">
                <input type="text" class="search" placeholder="Search.." name="query">
                <button type="submit" class="search" >GO</button>
            </form>
        </div>
    </nav>
</header>
<hr>
{{end}}